<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
        blanditiis aspernatur iste saepe non recusandae corrupti placeat, quas
        veritatis dolorum amet odio unde quidem nostrum fuga sed, nam omnis!
        Aspernatur!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus
        consectetur facilis dolores, atque ab eum reiciendis, laboriosam aperiam
        placeat fugit, praesentium ipsa doloribus blanditiis consequuntur
        veniam! Quae, adipisci dolore? Tempora.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, sint.
        Quisquam aspernatur veniam recusandae enim voluptate qui ipsum, saepe
        incidunt asperiores minima ducimus exercitationem. Non corporis odit
        molestiae consequuntur doloribus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore in
        possimus qui deleniti aspernatur ipsa doloribus laboriosam perspiciatis.
        Blanditiis soluta dolores pariatur facere omnis in, aperiam tenetur
        temporibus fugiat fuga!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
